<style>
    .fa-flex{
        display:flex;
        justify-content: center;
        align-items: center;
        padding:10px;
    }
</style>
<div class="fa-flex">
    <div id="print-template">
        {if isset($res['PrintTemplate'])}
            {$res['PrintTemplate']}
        {/if}
        {if isset($res['print_template'])}
            {$res['print_template']}
        {/if}
    </div>
</div>
<div class="form-group layer-footer">   
    <div class="col-xs-12 col-sm-12" style="text-align: center;">
        <button type="submit" class="btn btn-success btn-embossed">{:__('打印')}</button>
    </div>
</div>