<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="alert alert-warning-light">
        <b>温馨提示：</b><br>
        1、必须开启在站点配置中开启通知推送和启用相关服务后才会生效<br>
        2、公众号推送只支持公众号用户且用户必须关注公众号以后才能进行消息推送<br>
        3、小程序只支持小程序用户消息推送，且必须小程序用户主动订阅后才会进行推送<br>
        4、邮件推送必须在常规管理->系统配置中配置邮件的相关参数信息<br>
        5、短信通知推送只支持阿里云短信插件和华为云短信插件
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-type" class="form-control selectpicker" name="row[type]">
                {foreach name="typeList" item="vo"}
                    <option value="{$key|htmlentities}" {in name="key" value="1"}selected{/in}>{$vo|htmlentities}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Event')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-event" data-rule="required" class="form-control selectpicker" name="row[event]">
                {foreach name="eventList" item="vo"}
                    <option value="{$key|htmlentities}" {in name="key" value="0"}selected{/in}>{$vo|htmlentities}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" class="form-control" name="row[title]" type="text">
        </div>
    </div>
    <div class="form-group template-id">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tpl_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tpl_id" class="form-control" name="row[tpl_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <dl class="fieldlist" data-template="content-tpl" data-name="row[content]" data-tpl='{$template_data|htmlentities}'>
                <dd>
                    <ins>{:__('参数')}</ins>
                    <ins>{:__('值')}</ins>
                    <ins>{:__('默认值')}</ins>
                </dd>
                <dd>
                    <a href="javascript:;" class="btn btn-sm btn-success btn-append">
                        <i class="fa fa-plus"></i> {:__('Append')}
                    </a>
                </dd>
                <!--请注意 dd和textarea间不能存在其它任何元素，实际开发中textarea应该添加个hidden进行隐藏-->
                <textarea name="row[content]" data-rule="required" class="form-control hide" cols="30" rows="5"></textarea>
            </dl>
            <script id="content-tpl" type="text/html">
                <dd class="form-inline">
                    <ins><input type="text" name="<%=name%>[<%=index%>][value]" class="form-control" value="<%=row.value%>" placeholder="内容"/></ins>
                    <ins>
                        <select class="form-control selectpicker" name="<%=name%>[<%=index%>][key]">
                            <% for(let i in data.tpl){  %>
                            <option value="<%= i %>"><%= data.tpl[i] %></option>
                            <% } %>
                        </select>
                    </ins>
                    <ins><input type="text" name="<%=name%>[<%=index%>][def_val]" class="form-control" value="<%=row.def_val%>" placeholder="默认值"/></ins>
                    <!--下面的两个按钮务必保留-->
                    <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span>
                    <span class="btn btn-sm btn-primary btn-dragsort"><i class="fa fa-arrows"></i></span>
                </dd>
            </script>
        </div>
    </div>
    <div class="form-group template-extend hide">
        <label class="control-label col-xs-12 col-sm-2">{:__('Extend')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea name="row[extend]" class="form-control editor" id="c-extend" cols="30" rows="5"></textarea>
        </div>
    </div>
    <div class="form-group page_path">
        <label class="control-label col-xs-12 col-sm-2">{:__('Page')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-page" class="form-control" name="row[page]" type="text" placeholder="/pages/index/index">
                <div class="input-group-btn">
                    <a href="javascript:" class="btn btn-info btn-select-page">选择</a>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Switch')}:</label>
        <div class="col-xs-12 col-sm-8">

            <input  id="c-switch" name="row[switch]" type="hidden" value="0">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c-switch" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success fa-flip-horizontal text-gray fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
