<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" class="form-control" name="row[title]" type="text" value="{$row.title|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shipper_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shipper_id" data-rule="required" data-source="shop/shipper/index" class="form-control selectpage" name="row[shipper_id]" type="text" value="{$row.shipper_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Paytype')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-paytype" class="form-control selectpicker" name="row[paytype]">
                {foreach name="paytypeList" item="vo"}
                    <option value="{$key|htmlentities}" {in name="key" value="$row.paytype"}selected{/in}>{$vo|htmlentities}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Customer_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-customer_name" class="form-control" name="row[customer_name]" type="text" value="{$row.customer_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Customer_pwd')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-customer_pwd" class="form-control" name="row[customer_pwd]" type="text" value="{$row.customer_pwd|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Send_site')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-send_site" class="form-control" name="row[send_site]" type="text" value="{$row.send_site|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Send_staff')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-send_staff" class="form-control" name="row[send_staff]" type="text" value="{$row.send_staff|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Month_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-month_code" class="form-control" name="row[month_code]" type="text" value="{$row.month_code|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_notice')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-is_notice" class="form-control selectpicker" name="row[is_notice]">
                {foreach name="isNoticeList" item="vo"}
                    <option value="{$key|htmlentities}" {in name="key" value="$row.is_notice"}selected{/in}>{$vo|htmlentities}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_return_temp')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-is_return_temp" class="form-control selectpicker" name="row[is_return_temp]">
                {foreach name="isReturnTempList" item="vo"}
                    <option value="{$key|htmlentities}" {in name="key" value="$row.is_return_temp"}selected{/in}>{$vo|htmlentities}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_send_message')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-is_send_message" class="form-control selectpicker" name="row[is_send_message]">
                {foreach name="isSendMessageList" item="vo"}
                    <option value="{$key|htmlentities}" {in name="key" value="$row.is_send_message"}selected{/in}>{$vo|htmlentities}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Template_size')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-template_size" class="form-control" name="row[template_size]" type="text" value="{$row.template_size|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Operate_require')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-operate_require" class="form-control" name="row[operate_require]" type="text" value="{$row.operate_require|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Logistic_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-logistic_code" class="form-control" name="row[logistic_code]" type="text" value="{$row.logistic_code|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Start_date')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-start_date" class="form-control" name="row[start_date]" type="number" value="{$row.start_date|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('End_date')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-end_date" class="form-control" name="row[end_date]" type="number" value="{$row.end_date|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-remark" class="form-control" name="row[remark]" type="text" value="{$row.remark|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Exp_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-exp_type" class="form-control" name="row[exp_type]" type="number" value="{$row.exp_type|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_return_sign_bill')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-is_return_sign_bill" class="form-control selectpicker" name="row[is_return_sign_bill]">
                {foreach name="isReturnSignBillList" item="vo"}
                    <option value="{$key|htmlentities}" {in name="key" value="$row.is_return_sign_bill"}selected{/in}>{$vo|htmlentities}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Company')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-company" class="form-control" name="row[company]" type="text" value="{$row.company|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Province_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-province_name" class="form-control" name="row[province_name]" type="text" value="{$row.province_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('City_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-city_name" class="form-control" name="row[city_name]" type="text" value="{$row.city_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Exp_area_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-exp_area_name" class="form-control" name="row[exp_area_name]" type="text" value="{$row.exp_area_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-address" class="form-control" name="row[address]" type="text" value="{$row.address|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tel')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tel" class="form-control" name="row[tel]" type="text" value="{$row.tel|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" class="form-control" name="row[mobile]" type="text" value="{$row.mobile|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Post_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-post_code" class="form-control" name="row[post_code]" type="text" value="{$row.post_code|htmlentities}">
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
