<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <input id="c-freight_id" class="form-control" name="row[freight_id]" type="hidden" value="{$freight_id|htmlentities}">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('First_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-first_num" class="form-control" step="1" name="row[first_num]" type="number" value="{$freight.num|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('First_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-first_price" class="form-control" step="1" name="row[first_price]" type="number" value="{$freight.price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Continue_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-continue_num" class="form-control" step="1" name="row[continue_num]" type="number" value="{$freight.continue_num|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Continue_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-continue_price" class="form-control" step="1" name="row[continue_price]" type="number" value="{$freight.continue_price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Area_ids')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="channeltree" data-id="c-area_ids"></div>
            <input id="c-area_ids" class="form-control" name="row[area_ids]" type="hidden" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select id="c-type" data-rule="required" class="form-control selectpicker" name="row[type]">
                {foreach name="typeList" item="vo"}
                <option value="{$key|htmlentities}" {in name="key" value="0" }selected{/in}>{$vo|htmlentities}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Postage_area_ids')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="channeltree" data-id="c-postage_area_ids"></div>
            <input id="c-postage_area_ids" class="form-control" name="row[postage_area_ids]" type="hidden" value="">
        </div>
    </div>
    <div class="form-group c-postage_num hide">
        <label class="control-label col-xs-12 col-sm-2">{:__('Postage_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-postage_num" class="form-control" step="1" name="row[postage_num]" type="number">
        </div>
    </div>
    <div class="form-group c-postage_price hide">
        <label class="control-label col-xs-12 col-sm-2">{:__('Postage_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-postage_price" class="form-control" step="1" name="row[postage_price]" type="number">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
